html, body, #app, #grid {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif; }

.container {
  height: 90%;
  box-sizing: border-box; }

#nav-sidebar {
  text-align: center;
  display: inline-block;
  width: 10%;
  float: left; }

#grid {
  margin-left: 30%;
  display: inline-block;
  width: 70%;
  flex-wrap: wrap;
  float: left; }

.grid-opener {
  width: 405px;
  height: 375px;
  background-image: url("/images/logo.svg");
  background-size: cover;
  position: absolute;
  top: 70px;
  left: 90px;
  z-index: 3; }
  .grid-opener.opened {
    background-image: url("/images/logo_bianco.svg"); }

#grid.opened {
  padding-top: 30px; }
  #grid.opened .page .cover {
    display: table; }

.event-cell {
  background-color: #F5EAE2;
  background-image: url("/images/tex1.png");
  background-size: cover;
  box-size: border;
  overflow: hidden; }
  .event-cell .details {
    display: table-cell;
    vertical-align: middle;
    padding: 45px; }
    .event-cell .details img {
      height: 40%;
      margin-bottom: 30px; }
    .event-cell .details .dates {
      font-size: 23px;
      margin-bottom: 0; }
    .event-cell .details .title {
      font-family: 'IM Fell Great Primer', serif;
      font-style: italic;
      font-size: 30px;
      color: #F83743; }

.page .cover {
  display: none;
  transition: all 0.5s ease-in-out 0s;
  height: 300px;
  width: calc(50% - 110px);
  float: left;
  margin-left: 100px;
  margin-bottom: 20px;
  cursor: pointer; }
.page .contents {
  display: none; }
.page.active .cover {
  transition: all 0.5s ease-in-out 0s;
  transform: scale(0.5); }
.page.active .contents {
  padding: 50px;
  transition: all 0.5s ease-in-out 0s;
  display: table;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
  transition: all 0.5s ease-in-out 0s;
  background-color: #FFF;
  opacity: 1;
  z-index: 2; }
  .page.active .contents h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-style: italic; }

#home .contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
#home .cover .details {
  background-image: url("/images/texred.svg");
  background-size: cover;
  background-color: #FFF;
  display: table-cell;
  vertical-align: middle;
  padding: 45px;
  color: #FFF;
  font-size: 28px;
  box-sizing: border-box; }
  #home .cover .details p {
    padding: 0;
    margin: 0; }
#home .intro-text {
  position: absolute;
  top: 100%;
  left: 3%;
  width: 94%; }

.event-photo {
  position: relative; }
  .event-photo form {
    position: absolute;
    top: 10px;
    left: 10px; }

.intro-wrapper {
  position: fixed;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%; }
  .intro-wrapper .intro-carousel {
    width: 100%;
    max-width: 100%;
    height: 100%; }
    .intro-wrapper .intro-carousel .slick-list {
      height: 100%; }
      .intro-wrapper .intro-carousel .slick-list .slick-track {
        height: 100%; }
    .intro-wrapper .intro-carousel .slide {
      display: none;
      background-size: cover; }
      .intro-wrapper .intro-carousel .slide.active {
        display: block;
        position: relative;
        max-width: 100%;
        height: 100%; }
        .intro-wrapper .intro-carousel .slide.active .intro-info {
          padding-right: 20px;
          padding-top: 70px;
          position: absolute;
          bottom: 40px;
          right: 40px;
          width: 403px;
          height: 373px;
          background-size: cover;
          color: #000;
          font-weight: bold;
          font-size: 33px;
          line-height: 25px;
          text-align: right; }
          .intro-wrapper .intro-carousel .slide.active .intro-info .info-month {
            text-transform: lowercase;
            font-size: 25px; }
          .intro-wrapper .intro-carousel .slide.active .intro-info .info-area {
            color: #FFF; }
          .intro-wrapper .intro-carousel .slide.active .intro-info .info-name {
            text-align: center;
            margin-right: -60px;
            margin-top: 20px;
            display: block;
            font-family: 'IM Fell Great Primer', serif;
            font-style: italic; }
            .intro-wrapper .intro-carousel .slide.active .intro-info .info-name:before {
              display: block;
              margin: 10px 0px 10px 0px;
              content: url("/images/filetto2_right.svg"); }
            .intro-wrapper .intro-carousel .slide.active .intro-info .info-name:after {
              display: block;
              margin: 10px 0px 10px 0px;
              content: url("/images/filetto2_left.svg"); }
        .intro-wrapper .intro-carousel .slide.active img {
          width: 100%;
          max-width: 100%; }
      .intro-wrapper .intro-carousel .slide .intro-info-bg-0 {
        background-image: url("/images/p1.svg"); }
      .intro-wrapper .intro-carousel .slide .intro-info-bg-1 {
        background-image: url("/images/p2.svg"); }
      .intro-wrapper .intro-carousel .slide .intro-info-bg-2 {
        background-image: url("/images/p3.svg"); }

.intro-text .mm-block {
  box-sizing: border-box;
  float: left;
  width: 100%;
  background-color: #E1693A;
  background-image: url("/images/filetto1.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: #FFF;
  display: table-cell;
  font-size: 30px;
  line-height: 35px; }
  .intro-text .mm-block .major-text {
    padding: 95px 130px 95px 130px;
    float: left;
    width: 50%;
    display: table-cell;
    vertical-align: middle; }
  .intro-text .mm-block .minor-text {
    padding: 95px 130px 95px 130px;
    float: left;
    width: 50%;
    display: table-cell;
    vertical-align: middle; }
.intro-text .logos img {
  width: 100%; }
.intro-text .hp-events {
  margin-top: 30px;
  display: block;
  float: left;
  width: 100%; }
  .intro-text .hp-events .hp-event span {
    width: 49%;
    display: inline-block; }
  .intro-text .hp-events .hp-event .booking-head {
    cursor: pointer;
    margin-bottom: 0; }
    .intro-text .hp-events .hp-event .booking-head .area {
      padding-right: 10px;
      text-align: right; }
    .intro-text .hp-events .hp-event .booking-head .name {
      margin-left: 0;
      text-align: left; }

.generic-text {
  box-sizing: border-box;
  width: 100%;
  background-color: #E1693A;
  color: #FFF;
  padding: 95px 130px 95px 130px;
  font-size: 25px;
  line-height: 35px; }
  .generic-text a {
    color: #DDD;
    text-decoration: underline; }

.generic-button {
  background-color: #FDA833;
  text-transform: uppercase;
  color: #FFF;
  text-align: center; }

.generic-button-large {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 25px 130px 25px 130px;
  box-sizing: border-box;
  float: left;
  width: 100%;
  background-color: #FDA833;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-weight: bold; }
  .generic-button-large a {
    display: inline-block;
    color: #FFF;
    text-decoration: none; }
  .generic-button-large img {
    margin: 0px 50px 0px 50px; }

.adoption .description-text {
  font-size: 20px; }
.adoption a {
  color: #F8951D;
  text-decoration: underline; }
.adoption input, .adoption textarea {
  width: 100%;
  background-color: #F1E5DA;
  padding: 25px;
  border: 0;
  margin-bottom: 5px; }

.bookable-concerts {
  font-size: 25px; }
  .bookable-concerts .day-name {
    margin-bottom: 22px;
    padding: 15px 40px 15px 40px;
    text-decoration: underline; }
  .bookable-concerts .panel {
    padding: 40px; }
    .bookable-concerts .panel .panel-heading {
      padding: 0; }
    .bookable-concerts .panel .panel-body {
      padding: 0; }
      .bookable-concerts .panel .panel-body .lead {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 14px; }
      .bookable-concerts .panel .panel-body small {
        font-size: 16px;
        line-height: 1.5;
        display: block; }
    .bookable-concerts .panel .panel-footer {
      margin-top: 30px;
      padding: 0;
      border: 0; }
      .bookable-concerts .panel .panel-footer .still-available-wrapper {
        margin-left: 20px;
        font-size: 17px;
        font-style: italic;
        color: #FFF; }
  .bookable-concerts .btn {
    border-radius: 0;
    font-weight: bold;
    font-size: 21px;
    background-color: #FFF;
    text-transform: uppercase; }
  .bookable-concerts .booking-form {
    background-color: #F1E5DA;
    padding: 40px;
    margin-top: -22px;
    margin-bottom: 22px; }
    .bookable-concerts .booking-form .table {
      font-size: 17px; }
      .bookable-concerts .booking-form .table thead {
        font-weight: normal; }
        .bookable-concerts .booking-form .table thead tr th {
          border: 0; }
      .bookable-concerts .booking-form .table tbody tr td {
        border: 0; }
    .bookable-concerts .booking-form input {
      border: 0;
      border-radius: 0; }
    .bookable-concerts .booking-form button {
      background-color: #FFF;
      border: 0; }
  .bookable-concerts .column-0 .day-name {
    background-color: #FFD027; }
  .bookable-concerts .column-0 .panel {
    background-color: #FFD027; }
    .bookable-concerts .column-0 .panel .panel-footer {
      background-color: #FFD027; }
  .bookable-concerts .column-1 .day-name {
    background-color: #FFDF6E; }
  .bookable-concerts .column-1 .panel {
    background-color: #FFDF6E; }
    .bookable-concerts .column-1 .panel .panel-footer {
      background-color: #FFDF6E; }

.booking-head {
  margin-bottom: 30px;
  padding: 25px 130px 25px 130px;
  box-sizing: border-box;
  float: left;
  width: 100%;
  background-color: #FFD027;
  color: #FFF;
  text-align: center;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 30px;
  font-weight: bold; }
  .booking-head .name {
    font-style: italic;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #FFF; }

@media (max-width: 1024px) {
  #nav-sidebar .grid-opener {
    width: 200px;
    height: 185px; }

  .page .cover {
    margin-left: 30px;
    width: calc(50% - 70px); }

  .generic-button-large img {
    display: none; } }
@media (max-width: 800px) {
  html, body, .container-fluid, #app {
    width: 100%; }

  #nav-sidebar {
    float: none;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; }
    #nav-sidebar .grid-opener {
      position: inherit;
      margin: auto;
      display: inline-block;
      width: 200px;
      height: 170px; }

  #grid {
    float: none;
    margin: 0;
    width: 100%; }

  .page .cover {
    width: 100%;
    margin: 0  0 10px 0; }
  .page.active .contents {
    padding: 0;
    display: block; }

  .intro-wrapper {
    display: none; }

  #home .contents {
    position: inherit; }
  #home .intro-text {
    position: inherit;
    width: 100%; }
    #home .intro-text .mm-block {
      box-sizing: border-box;
      background-image: none;
      float: left;
      width: 100%;
      color: #FFF;
      font-size: 25px;
      line-height: 27px; }
      #home .intro-text .mm-block .major-text {
        padding: 10px;
        float: left;
        width: 100%; }
      #home .intro-text .mm-block .minor-text {
        padding: 10px;
        float: left;
        width: 100%; }
    #home .intro-text .hp-events {
      float: none; }
      #home .intro-text .hp-events .hp-event span {
        width: 100%;
        text-align: center;
        display: block;
        padding: 0 !important;
        border: 0 !important; }

  .generic-button-large {
    padding: 10px;
    float: none; }
    .generic-button-large img {
      display: none; }

  .bookable-concerts .panel .panel-footer .still-available-wrapper {
    display: block; }

  .booking-head {
    padding: 10px; }
    .booking-head span {
      text-align: center;
      display: block;
      padding: 0 !important;
      border: 0 !important; } }
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  position: relative; }
  .dropzone .dz-preview {
    position: relative;
    display: inline-block;
    width: 120px;
    margin: 0.5em; }
    .dropzone .dz-preview .dz-progress {
      display: block;
      height: 15px;
      border: 1px solid #aaa; }
      .dropzone .dz-preview .dz-progress .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: green; }
    .dropzone .dz-preview .dz-error-message {
      color: red;
      display: none; }

.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark {
  display: block; }

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
  position: absolute;
  display: none;
  left: 30px;
  top: 30px;
  width: 54px;
  height: 58px;
  left: 50%;
  margin-left: -27px; }

/*# sourceMappingURL=mine.css.map */
