html, body, #app, #grid {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.container {
    height: 90%;
    box-sizing: border-box;
}

#nav-sidebar {
    text-align: center;
    display: inline-block;
    width: 10%;
    float: left;
}

#grid {
    margin-left: 30%;
    display: inline-block;
    width: 70%;
    flex-wrap: wrap;
    float: left;
}

.grid-opener {
    width: 405px;
    height: 375px;
    background-image: url('/images/logo.svg');
    background-size: cover;
    position: absolute;
    top: 70px;
    left: 90px;
    z-index: 3;

    &.opened {
        background-image: url('/images/logo_bianco.svg');
    }
}

#grid.opened {
    padding-top: 30px;

    .page .cover {
        display: table;
    }
}

.event-cell {
    background-color: #F5EAE2;
    background-image: url('/images/tex1.png');
    background-size: cover;
    box-size: border;
    overflow: hidden;

    .details {
        display: table-cell;
        vertical-align: middle;
        padding: 45px;

        img {
            height: 40%;
            margin-bottom: 30px;
        }

        .dates {
            font-size: 23px;
            margin-bottom: 0;
        }

        .title {
            font-family: 'IM Fell Great Primer', serif;
            font-style: italic;
            font-size: 30px;
            color: #F83743;
        }
    }
}

.page {
    .cover {
        display: none;
        transition: all 0.5s ease-in-out 0s;
        height: 300px;
        width: calc(50% - 110px);
        float: left;
        margin-left: 100px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .contents {
        display: none;
    }

    &.active {
        .cover {
            transition: all 0.5s ease-in-out 0s;
            transform: scale(0.5);
        }

        .contents {
            padding: 50px;
            transition: all 0.5s ease-in-out 0s;
            display: table;
            opacity: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            transform: translate(0, 0);
            transition: all 0.5s ease-in-out 0s;
            background-color: #FFF;
            opacity: 1;
            z-index: 2;

            h1 {
                font-family: 'IM Fell Great Primer', serif;
                font-style: italic;
            }
        }
    }
}

#home {
    .contents {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .cover {
        .details {
            background-image: url('/images/texred.svg');
            background-size: cover;
            background-color: #FFF;
            display: table-cell;
            vertical-align: middle;
            padding: 45px;
            color: #FFF;
            font-size: 28px;
            box-sizing: border-box;

            p {
                padding: 0;
                margin: 0;
            }
        }
    }

    .intro-text {
        position: absolute;
        top: 100%;
        left: 3%;
        width: 94%;
    }
}

.event-photo {
    position: relative;

    form {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.intro-wrapper {
    position: fixed;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;

    .intro-carousel {
        width: 100%;
        max-width: 100%;
        height: 100%;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;
            }
        }

        .slide {
            display: none;
            background-size: cover;

            &.active {
                display: block;
                position: relative;
                max-width: 100%;
                height: 100%;

                .intro-info {
                    padding-right: 20px;
                    padding-top: 70px;
                    position: absolute;
                    bottom: 40px;
                    right: 40px;
                    width: 403px;
                    height: 373px;
                    background-size: cover;
                    color: #000;
                    font-weight: bold;
                    font-size: 33px;
                    line-height: 25px;
                    text-align: right;

                    .info-month {
                        text-transform: lowercase;
                        font-size: 25px;
                    }

                    .info-area {
                        color: #FFF;
                    }

                    .info-name {
                        text-align: center;
                        margin-right: -60px;
                        margin-top: 20px;
                        display: block;
                        font-family: 'IM Fell Great Primer', serif;
                        font-style: italic;

                        &:before {
                            display: block;
                            margin: 10px 0px 10px 0px;
                            content: url('/images/filetto2_right.svg');
                        }

                        &:after {
                            display: block;
                            margin: 10px 0px 10px 0px;
                            content: url('/images/filetto2_left.svg');
                        }
                    }
                }

                img {
                    width: 100%;
                    max-width: 100%;
                }
            }

            .intro-info-bg-0 {
                background-image: url('/images/p1.svg');
            }

            .intro-info-bg-1 {
                background-image: url('/images/p2.svg');
            }

            .intro-info-bg-2 {
                background-image: url('/images/p3.svg');
            }
        }
    }
}

.intro-text {
    .mm-block {
        box-sizing: border-box;
        float: left;
        width: 100%;
        background-color: #E1693A;
        background-image: url('/images/filetto1.svg');
        background-repeat: no-repeat;
        background-position: center;
        color: #FFF;

        .major-text {
            padding: 95px 130px 95px 130px;
            float: left;
            font-size: 30px;
            line-height: 35px;
            width: 50%;
        }

        .minor-text {
            padding: 95px 130px 130px 95px;
            float: left;
            font-size: 25px;
            line-height: 35px;
            width: 50%;
        }
    }

    .logos {
        img {
            width: 100%;
        }
    }
}

.generic-text {
    box-sizing: border-box;
    width: 100%;
    background-color: #E1693A;
    color: #FFF;
    padding: 95px 130px 95px 130px;
    font-size: 25px;
    line-height: 35px;

    a {
        color: #DDD;
        text-decoration: underline;
    }
}

.generic-button {
    background-color: #FDA833;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

.generic-button-large {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px 130px 25px 130px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    background-color: #FDA833;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    a {
        display: inline-block;
        color: #FFF;
        text-decoration: none;
    }

    img {
        margin: 0px 50px 0px 50px;
    }
}

.adoption {
    .description-text {
        font-size: 20px;
    }

    a {
        color: #F8951D;
        text-decoration: underline;
    }

    input, textarea {
        width: 100%;
        background-color: #F1E5DA;
        padding: 25px;
        border: 0;
        margin-bottom: 5px;
    }
}

.bookable-concerts {
    font-size: 25px;

    .day-name {
        margin-bottom: 22px;
        padding: 15px 40px 15px 40px;
        text-decoration: underline;
    }

    .panel {
        padding: 40px;

        .panel-heading {
            padding: 0;
        }

        .panel-body {
            padding: 0;

            .lead {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 14px;
            }

            small {
                font-size: 16px;
                line-height: 16px !important;
            }
        }

        .panel-footer {
            margin-top: 30px;
            padding: 0;
            border: 0;

            .still-available-wrapper {
                margin-left: 20px;
                font-size: 17px;
                font-style: italic;
                color: #FFF;
            }
        }
    }

    .btn {
        border-radius: 0;
        font-weight: bold;
        font-size: 21px;
        background-color: #FFF;
        text-transform: uppercase;
    }

    .booking-form {
        background-color: #F1E5DA;
        padding: 40px;
        margin-top: -22px;
        margin-bottom: 22px;

        .table {
            font-size: 17px;

            thead {
                font-weight: normal;

                tr {
                    th {
                        border: 0;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border: 0;
                    }
                }
            }
        }

        input {
            border: 0;
            border-radius: 0;
        }

        button {
            background-color: #FFF;
            border: 0;
        }
    }

    .column-0 {
        .day-name {
            background-color: #FFD027;
        }

        .panel {
            background-color: #FFD027;

            .panel-footer {
                background-color: #FFD027;
            }
        }
    }

    .column-1 {
        .day-name {
            background-color: #FFDF6E;
        }

        .panel {
            background-color: #FFDF6E;

            .panel-footer {
                background-color: #FFDF6E;
            }
        }
    }
}

.booking-head {
    margin-bottom: 30px;
    padding: 25px 130px 25px 130px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    background-color: #FFD027;
    color: #FFF;
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
    font-size: 30px;
    font-weight: bold;

    .name {
        font-style: italic;
        padding-left: 10px;
        margin-left: 10px;
         border-left: 1px solid #FFF;
    }
}

@media (max-width: 800px) {
    html, body, .container-fluid, #app {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    #nav-sidebar {
        float: none;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;

        .grid-opener {
            position: inherit;
            margin: auto;
        }
    }

    #grid {
        float: none;
        margin: 0;
        width: 100%;
    }

    .page {
        .cover {
            width: 100%;
            margin: 0  0 10px 0;
        }

        &.active {
            .contents {
                padding: 0;
            }
        }
    }

    .intro-wrapper {
        display: none;
    }

    #home {
        .contents {
            position: inherit;
        }

        .intro-text {
            position: inherit;
            width: 100%;

            .mm-block {
                box-sizing: border-box;
                background-image: none;
                float: left;
                width: 100%;
                color: #FFF;

                .major-text {
                    padding: 10px;
                    float: left;
                    font-size: 25px;
                    line-height: 27px;
                    width: 100%;
                }

                .minor-text {
                    padding: 10px;
                    float: left;
                    font-size: 21px;
                    line-height: 23px;
                    width: 100%;
                }
            }
        }
    }

    .generic-button-large {
        padding: 10px;

        img {
            display: none;
        }
    }
}


/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */

.dropzone, .dropzone * {
    box-sizing: border-box;
}

.dropzone {
    position: relative;

    .dz-preview {
        position: relative;
        display: inline-block;
        width: 120px;
        margin: 0.5em;

        .dz-progress {
            display: block;
            height: 15px;
            border: 1px solid #aaa;

            .dz-upload {
                display: block;
                height: 100%;
                width: 0;
                background: green;
            }
        }

        .dz-error-message {
            color: red;
            display: none;
        }
    }
}

.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
    display: block;
}

.dropzone .dz-preview.dz-success .dz-success-mark {
    display: block;
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
    position: absolute;
    display: none;
    left: 30px;
    top: 30px;
    width: 54px;
    height: 58px;
    left: 50%;
    margin-left: -27px;
}
